{% block header %}
  <h1>{% block title %}New Project{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype=multipart/form-data>
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Project Summary</label>
    <textarea name="summary" id="body">{{ request.form['summary'] }}</textarea>
    <label for="date_started">Date Started</label>
    <input type="date" name="date_started" id="date_started" value="{{ request.form['date_started'] }}" required>
    <label for="link">Link</label>
    <input name="link" id="link" value="{{ request.form['link'] }}" required>
    <label for="category">Category</label>
    <input name="category" id="category" value="{{ request.form['category'] }}" required>
    <label for="languages">Languages</label>
    <input name="languages" id="languages" value="{{ request.form['languages'] }}" required>
    <label for="video">Video Link</label>
    <input name="video" id="video" value="{{ request.form['video'] }}" required>
    <input type=file name=file>
    <input type="submit" value="Save">
  </form>
{% endblock %}