{% extends 'base.html' %}

{% block content %}
<div class="intro intro-single route bg-image"
  style="background-image: url({{ url_for('static', filename='img/overlay-bg.jpg') }})">
  <div class="overlay-mf"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h2 class="intro-title mb-4">Blog Details</h2>
        <ol class="breadcrumb d-flex justify-content-center">
          <li class="breadcrumb-item">
            <a href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{{ url_for('blog.index') }}">Library</a>
          </li>
          <li class="breadcrumb-item active">{{ post['title'] }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<main id="main">

  <!-- ======= Blog Single Section ======= -->
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="post-box">
            <div class="post-thumb">
              {% if post['photo']%}
              <img src="{{ url_for('static', filename='img/blog/') }}{{ post['photo'] }}" alt="" class="img-fluid">
              {% else %}
              <img src="{{ url_for('static', filename='img/post-1.jpg') }}" alt="" class="img-fluid">
              {% endif %}</a>
            </div>
            <div class="post-meta">
              <h1 class="article-title">{{ post['title'] }}</h1>
              <ul>
                <li>
                  <span class="ion-ios-person"></span>
                  <a href="#">{{ post['username'] }}</a>
                </li>
                <li>
                  <span class="ion-pricetag"></span>
                  <a href="#">{{ post['category'] }}</a>
                </li>
                <li>
                  <span class="ion-chatbox"></span>
                  <a href="#">{{ comments | length }}</a>
                </li>
              </ul>
            </div>
            <div class="article-content">
              {{ post['body'] | safe }}
            </div>
          </div>
          <div class="box-comments">
            <div class="title-box-2">
              <h4 class="title-comments title-left">Comments ({{ comments | length }})</h4>
            </div>
            <ul class="list-comments">
              {% for comment in comments %}
              <li>
                <div class="comment-avatar">
                  <img src="{{ comment['email'] }}" alt="">
                </div>
                <div class="comment-details">
                  <h4 class="comment-author">{{ comment['username'] }}</h4>
                  <span>{{ comment['created'].strftime('%d %b %Y') }}</span>
                  <p>
                    {{ comment['body'] }}
                  </p>
                </div>
                {% if g.user %}
                <a class="action" href="{{ url_for('blog.delete_comment', post_id=post['id'], id=comment['id']) }}">Delete</a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="form-comments">
            <div class="title-box-2">
              <h3 class="title-left">
                Leave a Reply
              </h3>
            </div>
            <form class="form-mf" method="post">
              <div class="row">
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="text" class="form-control input-mf" id="inputName" name="inputName" placeholder="Name *" value="{{ request.form['inputName'] }}" required>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <input type="email" class="form-control input-mf" id="inputEmail1" name="inputEmail1" placeholder="Email *" value="{{ request.form['inputEmail1'] }}" required>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <textarea id="textMessage" class="form-control input-mf" placeholder="Comment *" name="message"
                      cols="45" rows="8" required>{{ request.form['message'] }}</textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <div class="widget-sidebar sidebar-search">
            <h5 class="sidebar-title">Search</h5>
            <div class="sidebar-content">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary btn-search" type="button">
                      <span class="ion-android-search"></span>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="widget-sidebar">
            <h5 class="sidebar-title">Recent Post</h5>
            <div class="sidebar-content">
              <ul class="list-sidebar">
                {% for rp in recent_posts %}
                <li>
                  <a href="{{ url_for('blog.blog_detail', title=rp['title']) }}">{{ rp['title'] }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="widget-sidebar widget-tags">
            <h5 class="sidebar-title">Tags</h5>
            <div class="sidebar-content">
              <ul>
                <li>
                  <a href="#">{{ post['category'] }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Blog Single Section -->

</main><!-- End #main -->

{% endblock %}